@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes floatImg { 
  0%, 100% { transform: translate(0, 0); } 
  50% { transform: translate(0, -10px); } 
}
.animate-float {
  animation: floatImg 6s ease-in-out infinite;
}
